global-exclude *.pyc
global-exclude __pycache__
recursive-include alignment/chat_template/*.jinja
recursive-include hydra_plugins/* *.yaml py.typed
recursive-include alignment/tools/evaluation/* *.jsonl